@model DBConTemplate.Models.SelectModel
@section scripts{
    @Scripts.Render("~/Scripts/DBConTemplate/AjaxSelectSp.js")
    <script type="text/javascript">
        $(function () {
            var auth = sessionStorage.getItem("auth");
            if (auth != 1) {
                window.location.href = "../Login/Login";
            }
            getData(0);
        });

        function editData(cd) {
            $('#dataCd').val(cd);
            $('#toEditData').submit();
        }
    </script>
}

<div class="row">
    <div class="col-12">
        <div class="form-row">
            <div class="form-group col-4">
                <select id="statusSearch" class="form-control">
                    <option value='' selected>状態</option>
                    @for (var i = 0; i < Model.statusList.Count; i++)
                    {
                        if (Model.statusList[i].cd != "0")
                        {
                            <option value="@Model.statusList[i].cd">@Model.statusList[i].status</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-4">
                <select id="chargeSearch" class="form-control">
                    <option value="" selected>担当者</option>
                    @for (var i = 0; i < Model.userList.Count; i++)
                    {
                        <option value="@Model.userList[i].cd">@Model.userList[i].userName</option>
                    }
                </select>
            </div>
            <div class="form-group col-4 text-right">
                <button type="button" class="btn btn-primary" onclick="searchCheck()">検索</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 mt-1">
        <h5 id="totalCount"></h5>
    </div>
    <div class="col-6 mb-3 text-right">
        <button type="button" class="btn btn-primary " onclick="searchDataDesc(0)">↓ 降順</button>
        <button type="button" class="btn btn-primary" onclick="getData(0)">昇順 ↑</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead class="thead-dark text-center">
                <tr>
                    <th style="width: 25%">企業名</th>
                    <th style="width: 25%">担当者</th>
                    <th style="width: 25%">状態</th>
                    <th style="width: 25%"></th>
                </tr>
            </thead>
            <tbody class="text-center" id="dataList">
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-info" onclick="createData()">作成</button>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <nav class="cp_navi" id="paging">
        </nav>
    </div>
</div>

@using (Html.BeginForm("EditDataSp", "SelectSp", FormMethod.Post, new { @id = "toEditData" }))
{
    @Html.Hidden("dataCd", new { @id = "dataCd" })
}
